body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.tab {
  background-color: #bbb;
  float: left;
  width: 100vw;
  margin: 0;
}

button {
  background-color: inherit;
  border: none;
  padding: 16px 12px;
  font-size: 24px;
  cursor: pointer;
  margin: 0 !important;
}

button:hover {
  background-color: aliceblue;
}
.active {
  background-color: aliceblue;
}

.tab-content {
  padding: 8px 16px;
  border: 1px solid black;
  border-top: none;
  margin: 0 4px;
  display: none;
  transition: 0.4s;
  animation-name: show-content;
  animation-duration: 0.4s;
}

.showTab {
  display: block;
}

@keyframes show-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
