.container {
  width: 450px;
  height: 450px;
  margin: auto;
  position: relative;
}

.container img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: -460px;
  bottom: 460px;
  left: 0;
  right: 0;
  background-color: #008cba;
  text-align: center;
  transition: 0.4s;
}

.container:hover .overlay {
  top: 0;
  bottom: 0;
  animation-name: overlay;
  animation-duration: 0.4s;
}

@keyframes overlay {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
